body {
  margin: 0px;
}

.nav-conteiner {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: rgb(15, 15, 15);
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: rgb(12, 223, 47);
  margin-top: 4vh;
  cursor: pointer;
}

.ver-carrito {
  font-size: 25px;
  margin-right: 0.5pc;
  margin-top: 3.5vh;
  cursor: pointer;
}

.banner-conteiner {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: rgb(12, 187, 85);
  text-shadow: 1px 1px 3px rgba(163, 34, 34, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.content-aros {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}
.card {
  box-shadow: 0 4px 8px rgba(12, 84, 97, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  color: rgba(13, 2, 66, 0.932);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(48, 214, 75);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.content-modal {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: rgb(255, 255, 255);
  background-color: rgb(7, 7, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  width: 100%;
}

.content-modal::-webkit-scrollbar {
  display: none;
}

.modal-header-titulo {
  justify-self: start;
  cursor: pointer;
}

.modal.-header-button {
  cursor: pointer;
}

.content-modal > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.content-modal > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
.eliminar-producto {
  cursor: pointer;
}
